.wd-rounded-corners-all-around {
    border-radius: 50px !important;
}

.wd-explore-margin-left-right {
    margin-left: 100px;
    margin-right: 100px;
}

.wd-top-margin {
    margin-top: 20px;
}


.wd-search-bar {
    width: 100%;
    height: 40px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #F0F0F0 !important;
    border:0;
    outline:0;
}

.wd-margin-left {
    margin-left: 50px;
}

.wd-padding-fat {
    padding: 50px;
}

/*.wd-border-thin {*/
/*    border-width: 1px;*/
/*    border-color: #D0D0D0;*/
/*}*/

.wd-left-1 {
    width: 100%;
    height: 60px;
    display: flex;
    padding-top: 12px;
    background-color: black;
}

.wd-right-1 {
    height: 60px;
    display: flex;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: black;
}



.wd-padded-settings-gear {
    padding-top: 18px;
    padding-right: 12px;
    padding-left: 50px;
}

.wd-highlighted-color {
    color:rgb(29,161,242);
    font-size: 15px
}

.wd-not-highlighted-color {
    color:rgb(110, 118, 125);
    font-size: 15px
}

.wd-block1 {
    width: 100%;
    height: 15px;
    padding: 16px;
    text-align: center;
}

.wd-remove-underline {
    text-decoration: none;
}

.wd-border-bottom-color {
    border-bottom: solid rgb(29,161,242) 3px;
}

.wd-divider {
    height: 10px;
    background-color: rgb(110, 118, 125);
    width: 100%;
}

.wd-suggestion-border {
    border: solid rgb(110, 118, 125) 1px;
}

.wd-height-90{
    height: 90px;
}

.wd-height-130{
    height: 130px;
}

.wd-light-color-text {
    color: rgb(110, 118, 125);
    font-size: 13px;
    padding: 7px;
    margin-left: 20px;
}

.wd-light-color {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-suggestion-padding-margin {
    margin-left: 20px;
    padding: 7px 7px 7px 7px;
}

.wd-white-color {
    color: white;
    font-size: 13px;
}

.wd-font-14 {
    font-size: 14px;

}

.wd-dark-color-text {
    color: white;
    font-size: 14px;
    padding: 7px;
    margin-left: 20px;

}

.wd-block2 {
    width: 100%;
    height: 30px;
}

.wd-block3 {
    height: 30px;
    padding-top: 16px;
    padding-right: 16px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.wd-remove-border {
    border:0 !important;
    outline:0 !important;
}

.wd-custom-active-nav {
    border-bottom: 3px solid royalblue !important;
    color: royalblue !important;
    font-weight: bold !important;
}

.wd-custom-inactive-nav {
    color: dimgray !important;
}

.wd-background-fill-gray {
    background-color: #F0F0F0 !important;
}

.wd-even-spread-nav-links {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.wd-custom-active-menu {
    font-weight: bold !important;
}

.wd-rounded-bottom {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.wd-rounded-top{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.wd-icon-cog {
    color: black;
}

.wd-icon-t {
    color: #1DA1F2;
}

.wd-tweet-button {
    background-color: #1DA1F2 !important;
    color: white !important;
    font-weight: bold !important;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.wd-padding-left-right {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.wd-stack-icon {
    height: 24px !important;
    width: 24px !important;
}

.wd-padding-left-zero {
    padding-left: 0;
}

.wd-link-image-border {
    border-top: solid #808080 1px;
    border-left: solid #808080 1px;
    border-right: solid #808080 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wd-link-text-border {
    border-bottom: solid #808080 1px;
    border-left: solid #808080 1px;
    border-right: solid #808080 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.wd-only-image-border {
    border: solid #808080 1px;
    border-radius: 8px;
}
